sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_openai
langchain_experimental
-e .
pinecone[grpc]==5.1.0 
pinecone-datasets==0.7.0 
langchain-pinecone==0.1.2 
langchain-openai==0.1.23 
langchain==0.2.15

